<template name="User_Footer">
  <footer>
    <div style="padding: 15px 0px 15px 0px" class="ui eight column container">
        <hr>
      <div class="row">
        <img class="ui mini circular fluid image column" src="/images/uh_logo.png">
        <div class="column">Manoa Rides</div>
      </div>
      <a href="http://manoa-rides.github.io">Manoa Rides</a>
        Sponsored by:
        Department of Information and Computer Sciences
        University of Hawaii
        Honolulu, HI 96822
    </div>
  </footer>
</template>