.landing-background {
  padding: 10px 10px 30px 10px;
  color: white;
}

.landing-section-2 {
  padding: 20px 10px 20px 10px;
  background-color: #E5F9E7;
  color:  #00B5AD;
}

.landing-section-3 {
  padding: 20px 10px 30px 30px;
  background-color: #00B5AD;
  color: #E5F9E7;
}

.landing-section-5 {
  padding: 20px 10px 20px 10px;
  color: black;
}


.landing-section-1-welcome {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 72px;
}

.landing-section-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
}

.landing-message {
  padding: 50px;
  font-size: 20px;
  font-weight: 600;
}

/*.item {*/
  /*font-size: 30px;*/
  /*font-weight: 600;*/
/*}*/