<template name="Directory_Profile">
  {{# if profile.driver}}
    <div class="item">
      <a class="ui small circular image">

        <img src="{{ profile.picture }}">
      </a>
      <div class="content">
        <div class="header">
          <i class="car icon"></i> {{ profile.firstName }} {{ profile.lastName }}
        </div>
        <div class="meta">
          Driver
        </div>
        <div class="description">
          <!--{{ profile.bio }}-->
          <div class="ui grid ">
            <div style="border-right: 2px solid lightgray;" class="four wide column">
              <div class="row">
                Zipcode {{profile.zipcode}}
              </div>
              <div class="row">
                Departing to UH at {{ formatTime profile "going"}}
              </div>
              <div class="row">
                Returning from UH at {{ formatTime profile "returning" }}
              </div>
            </div>
            <div class = "five wide column">
              <a class="ui top aligned medium rounded image">
                <img src="{{ profile.carPicture }}">
              </a>
            </div>
            <div class="ui three wide column">
              <div class = "column">
                <div class="right aligned row">
                  Seats Available : {{profile.seats}}
                </div>
              </div>
            </div>
            <div class="ui three wide right aligned column">
              <div style="padding-bottom: 10px" class="right aligned row">
                <a href="mailto:{{ profile.username}}@hawaii.edu"><i class="big mail icon"></i></a>
              </div>
              <div style="padding-bottom: 10px" class="right aligned row">
                <a href="https://facebook.com/{{ profile.facebook}}"><i class="big facebook icon"></i></a>
              </div>
              <div style="padding-bottom: 10px" class="right aligned row">
                <a href="https://github.com/{{ profile.github}}"><i class="big github icon"></i></a>
              </div>
              <div style="padding-bottom: 10px" class="right aligned row">
                <a href="https://instagram.com/{{ profile.instagram}}"><i class="big instagram icon"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 10px">
          {{#each interest in profile.interests}}
            <a style="margin-bottom: 2px" class="ui teal tag small label">{{interest}}</a>
          {{/each}}
        </div>

      </div>
    </div>
  {{else}}
    <div class="item">
      <a class="ui small circular image">
        <img src="{{ profile.picture }}">
      </a>
      <div class="content">
        <div class="header">
          <i class="male icon"></i> {{ profile.firstName }} {{ profile.lastName }}
        </div>
        <div class="meta">
          Rider
        </div>
        <div class="description">
          <!--{{ profile.bio }}-->
          <div class="ui grid ">
            <div class="six wide column">
              <div class="row">
                Zipcode {{profile.zipcode}}
              </div>
              <div class="row">
                Departing to UH at {{ formatTime profile "going"}}
              </div>
              <div class="row">
                Returning from UH at {{ formatTime profile "returning" }}
              </div>
            </div>
            <div class="ui eight wide column">
              <div style="padding-bottom: 10px" class="right aligned row">
                <a href="mailto:{{ profile.username}}@hawaii.edu"><i class="big mail icon"></i></a>
              </div>
              <div style="padding-bottom: 10px" class="right aligned row">
                <a href="https://facebook.com/{{ profile.facebook}}"><i class="big facebook icon"></i></a>
              </div>
              <div style="padding-bottom: 10px" class="right aligned row">
                <a href="https://github.com/{{ profile.github}}"><i class="big github icon"></i></a>
              </div>
              <div style="padding-bottom: 10px" class="right aligned row">
                <a href="https://instagram.com/{{ profile.instagram}}"><i class="big instagram icon"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 10px">
          {{#each interest in profile.interests}}
            <a style="margin-bottom: 2px" class="ui teal tag small label">{{interest}}</a>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}
</template>
