<template name="Directory_Profile">

  {{# if profile.driver}}
    <div class="item">
      <a class="ui small circular image">

        <img src="{{ profile.picture }}">
      </a>
      <div class="content">
        <div class="header">
          <i class="car icon"></i> {{ profile.firstName }} {{ profile.lastName }}
        </div>
        <div class="meta">
          Driver
        </div>
        <div class="description">
          <!--{{ profile.bio }}-->
          <div class="ui grid ">
            <div style="border-right: 2px solid lightgray;" class="six wide column">
              <div class="row">
                Zipcode {{profile.zipcode}}
              </div>
              <div class="row">
                Departing to UH at {{profile.goingTime}}
              </div>
              <div class="row">
                Returning from UH at {{profile.returnTime}}
              </div>
            </div>
            <div class = "six wide column">
              <a class="ui top aligned medium rounded image">
                <img src="{{ profile.carPicture }}">
              </a>
            </div>
            <div class="ui three wide column">
              <div class = "column">
                <div class="center aligned row">
                  Seats Available: {{profile.seats}}
                </div>
                <div class="center aligned row">
                  Air Conditioning: Yes
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 10px">
          {{#each interest in profile.interests}}
            <a style="margin-bottom: 2px" class="ui teal tag small label">{{interest}}</a>
          {{/each}}
        </div>

      </div>
    </div>
  {{else}}
    <div class="item">
      <a class="ui small circular image">
        <img src="{{ profile.picture }}">
      </a>
      <div class="content">
        <div class="header">
          <i class="male icon"></i> {{ profile.firstName }} {{ profile.lastName }}
        </div>
        <div class="meta">
          Rider
        </div>
        <div class="description">
          <!--{{ profile.bio }}-->
          <div class="ui grid ">
            <div class="six wide column">
              <div class="row">
                Zipcode {{profile.zipcode}}
              </div>
              <div class="row">
                Departing to UH at 9:00 AM
              </div>
              <div class="row">
                Returning from UH at 3:00 PM
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 10px">
          {{#each interest in profile.interests}}
            <a style="margin-bottom: 2px" class="ui teal tag small label">{{interest}}</a>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}
</template>
